<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- Pacotes a serem escaneados -->
	<context:component-scan base-package="com.castaware.castabattle.control" />
	<context:component-scan base-package="com.castaware.castabattle.dao" />

	<!-- Define quais anotações estão habilitadas -->
	<mvc:annotation-driven />
	<!-- Configuração da Camada de Dados -->
	<bean name="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.transaction.auto_close_session">true</prop>
				<prop key="hibernate.hbm2ddl.auto"> create	</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.castaware.castabattle.domain</value>
			</list>
		</property>
	</bean>

	<bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />

		<property name="url" value="jdbc:mysql://172.31.49.70:3306/sampledb" />
		<property name="username" value="user" />
		<property name="password" value="pass" />
		<property name="removeAbandoned" value="true" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="10" />
	</bean>	        
	        
</beans>