* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

body {
  background-color: #4A4A4A;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 15%;
  width: 70%;
}

header {
  height: 70px;
  border-bottom: 2px solid #ffffff;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #49B8E2;
}

.form-container {
	width: 100%;
	min-heigth: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

label {
	font-size: 2rem;
	text-align: center;
	width: 40%;
}

input {
	width: 60%;
	height: 45px;
	font-family: "Orbitron", sans-serif; 
	padding: 10px;
	background-color: #4A4A4A;
	border: none;
	border-bottom: 3px solid white;
	transition: border-bottom 1s;
}

input:focus {
	border-bottom: 3px solid #F07685;
	outline: none;
}

.input-container {
	display: flex;
	justify-content: space-around;
	margin: 3rem;
}

.main {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
}

.main-index {
	height: 500px;
}

.endgame {
	height: auto;
}

.main-bottom {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  align-items: center;
  margin-bottom: 10px;
}

.target-right {
  color: #F07685;
  text-align: left;
  font-size: .8rem;
}

.target-water {
  color: #49B8E2;
  text-align: left;
  font-size: .8rem;
}

.btn-principal {
  align-self: center;
  border-radius: 5px;
  background-color: #49B8E2;
  text-align: center;
  padding: 23px;
  border: none;
  width: 250px;
  height: 70px;
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  cursor: pointer;
  box-shadow: inset 1px 1px 10px #000000;
  transition: all .5s;
}

.input-text {
    color: #4A4A4A;
}

.btn-principal:hover {
  background-color: #F07685;
  box-shadow: 1px 1px 10px #000000;
}

.btn-small {
  font-size: 1rem;
  text-aling: center;
  padding: 15px;
  transition: all .5s;
}

.btn-small:hover {
  color: #F07685;
  font-size: 1.1rem;
}

footer {
  height: 20px;
  border-top: 1px solid #ffffff;
  text-align: center;
}

.text-footer {
  padding: 20px 0;
  font-size: 0.7rem;
}

.player-detail {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: .5rem 5%;
	height: 2rem; 
	margin: .5rem 0;
}

.player-detail p {
	font-size: 1rem;
	margin: 0;
}

.player-detail span {
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 700;
	color: #F07685;
}

table {
  align-self: center;
}

.label-table {
  width: 75px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
}

.hidden, .water, .fire {
  text-align: center;
}

.hidden {
  text-align: center;
}

.hidden:hover {
  background-image: url("../images/hidden_over.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.hidden img {
  height: 70%;
  width: auto;
}

.water img {
  height: 70%;
  width: auto;
}

.fire img {
  height: 70%;
  width: auto;
}

.end-game {
  color: #ffffff;
  text-align: center;
}

.score-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #49B8E2;
	margin-top: 4rem;
}

table {
	width: 100%;
	margin-bottom: 10px;
}

.item-name, .item-score {
	width: 50%;
	font-size: 1.5rem;
  	color: #49B8E2;
  	text-align: center;
	line-height: 2rem;
}

.item-score {
	color: #fff;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 1200px) {
	.hidden:hover {
	  background-size: 50%;
	}
}

@media only screen and (max-width: 1000px) {
	.hidden:hover {
	  background-size: 65%;
	}
	h1 {
	  font-size: 2rem;
	}
}

@media only screen and (max-width: 600px) {
	.container {
	  width: 100%;
	  margin: 0;
	}
	.hidden:hover {
	  background-size: 100%;
	}
	h1 {
	  font-size: 1.6rem;
	}
	.input-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 10px 5px;
	}
	label {
	font-size: 1rem;
	width: 100%;
	}
	
	input {
		width: 100%;
	}
}